In [3]:
import tweepy
import pandas as pd
import datetime 




tweets_df_total = pd.read_csv('../Row_data/tweets_df_total.csv')

In [4]:
tweets_df_total = tweets_df_total.drop(columns=['Unnamed: 0'])
tweets_df_total.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   created_at                35 non-null     object
 1   tweet_id                  35 non-null     int64
 2   Tweet_Content             35 non-null     object
 3   name                      35 non-null     object
 4   user_id                   35 non-null     int64
 5   user_followers            35 non-null     int64
 6   user_location             19 non-null     object
 7   source                    35 non-null     object
 8   entities                  35 non-null     object
 9   reply_user_id             35 non-null     object
 10  reply_status_id           35 non-null     object
 11  Tweet_Number_of_Likes     35 non-null     int64
 12  Tweet_Number_of_Retweets  35 non-null     int64
 13  username                  35 non-null     object
 14  GRUPO                     35 non-null     object
 15  API                       35 non-null     object
dtypes: int64(5), object(11)
memory usage: 54.4 KB

In [5]:
tweets_df_total.columns

Index(['created_at', 'tweet_id', 'Tweet_Content', 'name', 'user_id',
       'user_followers', 'user_location', 'source', 'entities',
       'reply_user_id', 'reply_status_id', 'Tweet_Number_of_Likes',
       'Tweet_Number_of_Retweets', 'username', 'GRUPO', 'API'],
      dtype='object')

In [8]:
from sqlalchemy import create_engine
sqlitedb_path = '/home/carpiero/ir/Database/twitter.db'
engine = create_engine(f'sqlite:///{sqlitedb_path}', echo=True)



create_table =""" CREATE TABLE IF NOT EXISTS Twitter_Operators (
                                        	created_at DATETIME, 
                                            tweet_id VARCHAR(255), 
                                            Tweet_Content TEXT,
                                            name VARCHAR(255), 
                                            user_id VARCHAR(255),
                                            user_followers INT,
                                            user_location VARCHAR(255),
                                            source VARCHAR(255),
                                            entities TEXT, 
                                            reply_user_id VARCHAR(255), 
                                            reply_status_id VARCHAR(255), 
                                            Tweet_Number_of_Likes INT, 
                                            Tweet_Number_of_Retweets INT, 
                                            username VARCHAR(255), 
                                            GRUPO VARCHAR(255), 
                                            API VARCHAR(255)
                                    ); """
with engine.begin() as conn:
    conn.execute(create_table)

2020-11-30 12:55:40,501 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-11-30 12:55:40,502 INFO sqlalchemy.engine.base.Engine ()
2020-11-30 12:55:40,504 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-11-30 12:55:40,505 INFO sqlalchemy.engine.base.Engine ()
2020-11-30 12:55:40,505 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-11-30 12:55:40,506 INFO sqlalchemy.engine.base.Engine  CREATE TABLE IF NOT EXISTS Twitter_Operators (
                                        	created_at DATETIME,
                                            tweet_id VARCHAR(255),
                                            Tweet_Content TEXT,
                                            name VARCHAR(255),
                                            user_id VARCHAR(255),
                                            user_followers INT,
                                            user_location VARCHAR(255),
                                            source VARCHAR(255),
                                            entities TEXT,
                                            reply_user_id VARCHAR(255),
                                            reply_status_id VARCHAR(255),
                                            Tweet_Number_of_Likes INT,
                                            Tweet_Number_of_Retweets INT,
                                            username VARCHAR(255),
                                            GRUPO VARCHAR(255),
                                            API VARCHAR(255)
                                    );
2020-11-30 12:55:40,507 INFO sqlalchemy.engine.base.Engine ()
2020-11-30 12:55:40,519 INFO sqlalchemy.engine.base.Engine COMMIT

In [14]:
from sqlalchemy import create_engine
sqlitedb_path = '/home/carpiero/ir/Database/twitter.db'
engine = create_engine(f'sqlite:///{sqlitedb_path}', echo=True)
pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", engine)

2020-11-30 15:43:34,946 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-11-30 15:43:34,947 INFO sqlalchemy.engine.base.Engine ()
2020-11-30 15:43:34,949 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-11-30 15:43:34,950 INFO sqlalchemy.engine.base.Engine ()
2020-11-30 15:43:34,951 INFO sqlalchemy.engine.base.OptionEngine SELECT name FROM sqlite_master WHERE type='table'
2020-11-30 15:43:34,952 INFO sqlalchemy.engine.base.OptionEngine ()

                name
0  Twitter_Operators

In [1]:
df_sqlite = pd.read_sql_query("SELECT * FROM Twitter_Operators", engine, coerce_float=True, parse_dates=['created_at'])



df_sqlite.info(memory_usage='deep')



# drop_query = 'drop table Twitter_Operators'     #quitar una tabla
# with engine.begin() as conn:
#     conn.execute(drop_query)

NameError: name 'pd' is not defined

In [16]:
df_sqlite

,created_at,tweet_id,Tweet_Content,name,user_id,user_followers,user_location,source,entities,reply_user_id,reply_status_id,Tweet_Number_of_Likes,Tweet_Number_of_Retweets,username,GRUPO,API
0,2020-11-24 23:57:26,1331386476026859520,RT @DavictusCat: Benvolguts senyors de @vodafo...,Martí Gené i Ramis,776173484,437,Catalunya,Twitter for Android,"{'hashtags': [], 'symbols': [], 'user_mentions...",no,no,0,115,@vodafone_es,Vodafone,api
1,2020-11-24 23:52:09,1331385147397206018,"Últimamente falla muchísimo, supongo que será ...",Liam,1186217447780687872,16,España,Twitter for Android,"{'hashtags': [], 'symbols': [], 'user_mentions...",1186217447780687872,1331385145883058176,1,0,@vodafone_es,Vodafone,api
2,2020-11-24 23:52:09,1331385145883058176,Hola @vodafone_es y @VodafoneTV_es \nDesde hac...,Liam,1186217447780687872,16,España,Twitter for Android,"{'hashtags': [], 'symbols': [], 'user_mentions...",no,no,1,1,@vodafone_es,Vodafone,api
3,2020-11-24 23:45:19,1331383426059005952,"RT @vodafone_es: De camino al trabajo, en el g...",Anna Mudoy Anderberg,767674471,987,CIUDAD JARDIN ES COLL MALLORCA,Twitter for Android,"{'hashtags': [{'text': 'HogarIlimitable', 'ind...",no,no,0,14,@vodafone_es,Vodafone,api
4,2020-11-24 23:30:04,1331379588312797185,El sexy anuncio de Vodafone Wallet @vodafone_e...,Borja Girón,264549701,21973,Madrid,borjatwitter,"{'hashtags': [{'text': 'internet', 'indices': ...",no,no,0,0,@vodafone_es,Vodafone,api
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8766,2020-11-25 20:14:47,1331692831195459585,Es de vuestra propiedad y por ello @jazztel no...,AGV,1345374019,11,"Madrid, Comunidad de Madrid",Twitter for Android,"{'hashtags': [], 'symbols': [], 'user_mentions...",1345374019,1331692829618352130,0,0,@jazztel,Orange,api3
8767,2020-11-25 20:14:46,1331692829618352130,@vodafone_es cómo tenéis la poca vergüenza de ...,AGV,1345374019,11,"Madrid, Comunidad de Madrid",Twitter for Android,"{'hashtags': [], 'symbols': [], 'user_mentions...",18939115,no,1,0,@jazztel,Orange,api3
8768,2020-11-25 18:19:17,1331663766107381760,RT @nnnnnooooaaa___: Vaya vergüenza de compañí...,Cosas De Algui,934382345783840770,316,"Málaga, España",Twitter for Android,"{'hashtags': [], 'symbols': [], 'user_mentions...",no,no,0,1,@jazztel,Orange,api3
8769,2020-11-25 18:01:58,1331659408431001604,Difundid porfi 🙏🙏\n\n@jazztel_es @jazztel http...,ANCHOAAAAAAA🐟🎣🐷,1014949674,1426,"París, Francia",Twitter for Android,"{'hashtags': [], 'symbols': [], 'user_mentions...",no,no,2,0,@jazztel,Orange,api3
8770,2020-11-25 17:40:00,1331653879046541315,Vaya vergüenza de compañía @jazztel_es @jazzte...,llegó el lechero,1035204048054575104,221,,Twitter for Android,"{'hashtags': [], 'symbols': [], 'user_mentions...",no,no,3,1,@jazztel,Orange,api3

In [17]:
df_sqlite[['created_at']].resample('D', on='created_at').count()

            created_at
created_at
2020-11-24        4510
2020-11-25        4261